.chrome-extension-highlight {
	font-style: normal;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	border-bottom: 2px;
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: blue;
	color: #4D3A2E;
}

.tippy-tooltip.honeybee-theme {	/* Your styling here. Example: */
	background-color:#d1d1e0;
  	border: 2px solid black;
	font-weight: bold;
	color: #333;
  }

  .tippy-tooltip.honeybee-theme .tippy-backdrop {
	/* Your styling here. Example: */
	background-color: yellow;
	}
	
	.tippy-tooltip .tippy-content {
		word-wrap: break-word;
	}