.chrome-extension-highlight {
	font-style: normal;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	border-bottom: 2px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	text-decoration: none;
	color: #4D3A2E;
}

.tippy-tooltip.honeybee-theme {	/* Your styling here. Example: */
	background-color:white;
	box-shadow: 1px 1px 1px 1px #888888;
	font-weight: bold;
	color: #333;
  }

  .tippy-tooltip.honeybee-theme .tippy-backdrop {
	/* Your styling here. Example: */
	background-color: yellow;
	}
	
	.tippy-tooltip .tippy-content {
		word-wrap: break-word;
		font-size: 12px;
		text-align: left;
	}

	.tippy-popper[x-placement^=top] .tippy-tooltip.honeybee-theme .tippy-arrow {
		border-top: 7px solid #888888; /* your color here */
	}
	